a
{
    margin: 1em 0;
    float: left;
    padding: 2px;
    color: red;
    clear: left;
}

a:hover
{
    text-decoration: none;
    background-color: red;
    color: #FFF;
}

a:visited
{
    color: #CCC;
}


