/* https://colorhunt.co/palette/fbf8f1f7ecdee9dac154bab9 */

*
{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    min-width: 400px;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
}

.header
{
    background-color: #E9DAC1;
    display: flex;
    flex-flow: column nowrap;
}

.menu{
    background-color: #F7ECDE;
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;
}

.logo{
    flex-grow: 1;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 150px;
    height: 150px;
}

.nav{
    display: flex;
    flex-grow: 2;
    height: 50px;
    align-items: center;  
}

a{
    color: black;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 1.2em;
}

a:hover{
    color: black;
    background-color: #E9DAC1;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.iconos{
    display: flex;
    flex-grow: 1;
    height: 50px;
    justify-content: center;
    align-items: center;
}

/* Banner */
.texto-principal img{
    width: 100%;
}

.texto-principal{
    background-color: #F7ECDE;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

/* Texto tienda online i principal */
h1{
    font-family: "Roboto";
    display: flex;
    justify-content: center;
}

.texto-principal p{
    font-family: "Roboto";
    display: flex;
    justify-content: center;
}

/* Productos */
.section{
    background-color: #E9DAC1;
    display: flex;
}


.articulos{
    background-color: #F7ECDE;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 2;
    justify-content: center;
}

/* Cada uno de los articulos con todos elementos*/
.article{
    display: flex;
    flex-flow: row wrap;
    width: 40%;
}

/* Imagenes */
.article img{
    width: 100%;
    margin: 10px auto;
}

#product1{
    height: 365px;
}

/* Texto negrita */
span{
    font-weight: bold;
    padding: 0;
    margin: 0;
}

/* Texto productos */
.articulos p{
    font-family: "Roboto";
    font-size: 1.5em;
}

/* precios */
.precio{
    margin-left: 0;
    font-size: 2em;
    font-family: "Roboto";
    padding-left: 20px;
}

/* button */
input{
    font-size: 1.5em;
    background-color: #E9DAC1;
    border-radius: 5%;
    width: 100%;
}

.button{
    display: flex;
    flex-grow: 2;
    justify-content: center;
    height: 80px;
}

/* aside */
.aside{
    background-color: #E9DAC1;
    flex-grow: 1;
    margin: 0 auto;
    width: 25%;
}

/* caixa dins aside */
.publicidad{
    background-color: #F7ECDE;
    margin: 0 auto;
    font-family: "Roboto";
    font-size: 2em;
    display: flex;
    text-align: justify;
}

.footer{
    background-color: #E9DAC1;
}

.pie{
    background-color: #F7ECDE;
    border: 1px solid black;
    display: flex;
}

.social-media{   
    display: flex;
}

@media all and (max-width: 800px){
    .section{
        
    }
}

