body
{
    background-color: pink;
}

h1
{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

div
{
    text-align: center;
    margin: 10px 150px;
    border: 2px solid black;
    
}

p{
    width: 20%;
    text-align: center;
}

.estrofa1
{
    background-image: url(../IMG/img1.jpg);
}

.estrofa2
{
    background-image: url(../IMG/img2.jpg);
}

.estrofa3
{
    background-image: url(../IMG/img3.jpg);
}

.estrofa4
{
    background-image: url(../IMG/img4.jpg);
}