div
{
    background: violet;
}

.circulo
{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    border-radius: 50%;
    background: white;
    border: 8px solid black;
}

.white
{

}

.red
{
    background: red;
}