
body
{
    background-color: rgb(153, 255, 139);
}

.container
{
    background-color: rgb(255, 196, 0);
    margin: 1em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; 
    height: 500px;  
}

.item
{
    border: 5px solid green;
    padding: 2rem;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0.5em;
    background-color: chartreuse;
    width: 2em auto;
    height: 100px;
}

.item1
{
    align-self: flex-end;
}
