li
{
    background-color: rgb(231, 231, 231);
    list-style: none;
    border: 1px solid black;
    
}

a
{
    background-image: url(../IMG/flecha_inactiva.png);
    background-repeat: no-repeat;
    padding: 0.2em 0 0.2em 1.5em;
    display: block;
}

ul
{
    padding: 10px;
    margin: 10px;
    width: 150px;
}

a:hover
{
    text-decoration: none;
    background-image: url(../IMG/flecha_activa.png);
}

a:link 
{
    color: black;
    text-decoration: none;
}

a:visited
{
    text-decoration: none;
    color: rgb(95, 67, 67);
}